<!DOCTYPE html>
<html>
<head>
	<title>React Template - by Neucode</title>
	<meta name="viewport"                     content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="mobile-web-app-capable"       content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script type="text/javascript"><%- reactState %></script>
</head>
<body>
	<div id="react-root">
		<div><%- reactRoot %></div>
	</div>
	<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
